doctype html
head
  title Priya's Website
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,700' rel='stylesheet')
  link(rel='stylesheet' href='css/open-iconic-bootstrap.min.css',type='text/css')
  link(rel='stylesheet' href='css/animate.css',type='text/css')
  link(rel='stylesheet' href='css/owl.carousel.min.css',type='text/css')
  link(rel='stylesheet' href='css/owl.theme.default.min.css',type='text/css')
  link(rel='stylesheet' href='css/magnific-popup.css',type='text/css')
  link(rel='stylesheet' href='css/aos.css',type='text/css')
  link(rel='stylesheet' href='css/ionicons.min.css',type='text/css')
  link(rel='stylesheet' href='css/bootstrap-datepicker.css',type='text/css')
  link(rel='stylesheet' href='css/jquery.timepicker.css',type='text/css')
  link(rel='stylesheet' href='css/flaticon.css',)
  link(rel='stylesheet' href='css/icomoon.css')
  link(rel='stylesheet' href='css/style.css')
.KW_progressContainer
  .KW_progressBar
.page

  #colorlib-page
    header
      .container
        .row
          .col-md-12
            .colorlib-navbar-brand
              a.colorlib-logo(href='index.html')
                span.logo-img(style='background-image: url(images/Priya1.jpg);')
                | Priya Emani
           
              i
    section.home-slider.owl-carousel.js-fullheight
      .slider-item.js-fullheight
        .overlay
        .container
          .row.slider-text.align-items-center.text-center.justify-content-center(data-scrollax-parent='true')
            .col-md-12.ftco-animate(data-scrollax=" properties: { translateY: '70%' }")
              p
                a.scroll(href='#') Hello! I&apos;m
              h1.mb-3(data-scrollax="properties: { translateY: '50%', opacity: 1.6 }") Priya Emani
      .slider-item.js-fullheight
        .overlay
        .container
          .row.slider-text.align-items-center.text-center.justify-content-center(data-scrollax-parent='true')
            .col-md-12.ftco-animate(data-scrollax=" properties: { translateY: '70%' }")
              p
                a.scroll(href='#') I&apos;m a Terrapin and
              h1.mb-3(data-scrollax="properties: {translateY: '30%', opacity: 1.6}") A CS student at UMD College Park
    // END slider
    section.ftco-section.about-section
      .container
        .row.d-flex(data-scrollax-parent='true')
          .col-md-4.author-img(style='background-image: url(images/Artsy.jpg);' data-scrollax=" properties: { translateY: '-70%'}")
          .col-md-2
          .col-md-6.wrap.ftco-animate
            .about-desc
              h1.bold-text About
              .p-5
                p
                  | A little about me, my real name is Padmavati Emani, and I was born in Bilaspur, Chattisgarrh
                  |on March 27, 1998. Feel free to call me Priya! As a child, I moved from India to New Jersey, to Florida, to Arizona, back to India, and then to Maryland. My second semester as a freshman at College Park, I decided to switch majors form Bio-engineering to Computer Science! I really enjoy brainstorming different ways to solve a problem and coming up with answers to riddles, and this is exactly what coding reminds me of, so I made the switch! I decided to go to a CTF that my college holds every year, and I had a blast hacking, so I decided to add on my cybersecurity minor. I am also doing an upper level concentration in Art because I have an eye for design. 
                p
                  a(href='images/PadmavatiEmaniResume.pdf') Checkout my resume 
                ul.ftco-footer-social.list-unstyled.mt-4
                  li
                    a(href='https://www.linkedin.com/in/padmavati-emani-a81a47164/')
                      span.icon-linkedin
                  li
                    a(href='https://www.facebook.com/priya.emani.98')
                      span.icon-facebook
                  li
                    a(href='https://github.com/pemani98')
                      span.icon-github
                  li
                    a(href='https://www.instagram.com/e_money327/')
                      span.icon-instagram
                h5 Contact me here!
                p
                  | Email: 
                  a(href='pemani327@gmail.com') pemani327@gmail.com
                p
                  | Phone: 
                  a(href='#') (505)-369-9143
    section.ftco-section
      .container
        .row.justify-content-center.mb-5.pb-5
          .col-md-7.text-center.heading-section.ftco-animate
            span What I am doing at School
            h2 Classes
        .row
          .col-md-4.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.p-3.py-4.d-block.text-center
              .icon.mb-3
                span.icon-code
              .media-body
                h3.heading CS courses
                p
                  | Object Oriented Programming with Java
                p
                  | Discrete Math
                p
                  | Computer System with C
                p
                  | Programming Languages
                p
                  | Algorithms
                p
                  | Articial Intelligence
                p
                  | Data Structures
                p
                  | Android Programming (Fall 2019)
                p
                  | Full Stack Development with Node   (Fall 2019)
                p
                  | Networks (Fall 2019)
          .col-md-4.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.p-3.py-4.d-block.text-center
              .icon.mb-3
                span.icon-bug
              .media-body
                h3.heading Security Courses
                p
                  | Cybersecurity Foundations
                p
                  | Malware Analysis Research
                p
                  | Digital Forensics
          .col-md-4.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.p-3.py-4.d-block.text-center
              .icon.mb-3
                span.icon-brush
              .media-body
                h3.heading Art Courses
                p
                  | Drawing
                p
                  | Digital Art and Design Processes
                p
                  | Digital Media (Fall 2019)
                p
                  | Advanced Interactive Design and Software (Fall 2019)
    section.ftco-section
      .container
        .row.justify-content-center.mb-5.pb-5
          .col-md-7.text-center.heading-section.ftco-animate
            span Out of School Work
            h2 Work Experiences
          
            a.image.order-2.justify-content-center.align-items-center(style="background-image: url('images/Ft2.png'); " )
            img(src = 'images/Ft2.png')
            .text.order-1
              h3.heading
                a(href='https://flatiron.com/') Flatiron Health
              h5.subheading Security/Software Engineer Summer 2019
              p
                | The past summer I supported the infrastructure security team by creating an alert system that cautioned the team members of users with extended resource access and other privileges on our AWS cloud environment. This alert system actually ended up being implented on Splunk. First, I used Cloudtracker,a third party tool created by Duo, to write a script that catches the actions the users and/or roles in an AWS accounts have not taken in a given time limit. From that, I derived more information about that action including which policy it came from, the resource it affected, the service it involved, and some more information about the user/role as well. I pushed all of this into a sqlite database using sql alchemy and further migrated it into a csv file. This csv file was configured to push its contents into a splunk dashboard, so I could create a Splunk alert. 
        
            a.image.order-2.justify-content-center.align-items-center(href='portfolio-single.html' style="background-image: url('images/LM.png'); ")
            img(src = 'images/LM.png')
            .text.order-1
              h3.heading
                a(href='https://www.lockheedmartin.com/en-us/index.html') Lockheed Martin
              h5.subheading Cyber Intern Summer 2018
                
              p
                | At Lockheed Martin, I had the unique opportunity to support a team that built helicopters, in fact, they built the Presidential helicopter. In 2015, Lockheed Martin incoporated this company, Sikorsky, into their own organization as both companies built air-crafts. I worked to secure the avionics interface of a speific helicopter that carried cargo, weapons, and refugees to and from the United States and other countries. A rather huge concern these days is remotely hacking into an aircrafts interafce and navigating it from fruther way. So I worked with RBAC, role based access control, functionalities to breach these vulnerabilities. In addition to this, my team had me do some vulnerability analysis of scans they took of this air-craft. I also worked with two other interns to recommend more robust penetration testing tools. Of the various different types of tools, I focused on packet crafter. Trex and Ostinato are two packet crafters I found to be most effective in terms of functionality and flexibility, but Trex was more applicable to aircraft interfaces, so that was my conclusion. A final project I did with other interns was build a robot that tracked faces using facial recognition algorithms. We used an arduino to power servos that were connected to a webcam. We used Processing to help the webcam identify faces, and if the webcam did not, Processing would communicate this with the arduino, and in response, the arduino would move servos until the webcam caught faces.   

    section.ftco-section
      .container
        .row.justify-content-center.mb-5.pb-5
          .col-md-7.text-center.heading-section.ftco-animate
            span Portfolio
            h2 Some of my Projects
        .row.no-gutters
          .block-3.d-md-flex.ftco-animate(data-scrollax-parent='true')
            a.image.d-flex.justify-content-center.align-items-center(href='portfolio-single.html' style="background-image: url('images/Envision.jpg'); " data-scrollax=" properties: { translateY: '-30%'}")
            .text
              h4.subheading Co-Founder and Web Desginer/Developer
              h3.subheading August 2019 - Present
              h2.heading
                a(href='http://envision-dev.herokuapp.com/') Envision
              p
                | We are working on developing a software solution to manage intern/manager relations so companies can make data driven hiring decisions. Still in development

          .block-3.d-md-flex.ftco-animate(data-scrollax-parent='true')
            a.image.order-2.d-flex.justify-content-center.align-items-center(href='portfolio-single.html' style="background-image: url('images/PadmaEmani_Project1.jpg'); " data-scrollax=" properties: { translateY: '-30%'}")
              .icon.d-flex.text-center.justify-content-center.align-items-center
                span.icon-search
            .text.order-1
              h4.subheading Digital Art
              h2.heading
                h3.heading Supernaturals
              p
                | What could be if the supernaturals from all our religions came together, would they get along? I started out photoshopping various images together while creating illusions. This is a sample of some of my digital work.  

          .block-3.d-md-flex.ftco-animate(data-scrollax-parent='true')
            a.image.d-flex.justify-content-center.align-items-center(href='portfolio-single.html' style="background-image: url('images/favicon.png'); " data-scrollax=" properties: { translateY: '-30%'}")
              .icon.d-flex.text-center.justify-content-center.align-items-center
                span.icon-search
            .text
              h4.subheading Security Experiment
              h2.Honeypots
              p
                | This semester, I will be setting up a honeypot and keeping track of its ongoings on a separate blog. This honeypot will be a launched on a kubernetes framework. The kubernetes framework will be hosted in an AWS environment. The honeypot will mimic services of an email server and a database! Hopefully, I can branch out to include more services. I hope to eventually have a honeynet going as 
    section.ftco-section
      .container
        .row.justify-content-center.mb-5.pb-5
          .col-md-7.text-center.heading-section.ftco-animate
            span Not School Things
            h2 Extracurriculars
        .row
          .col-md-4.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.p-3.py-4.d-block.text-center
              .icon.mb-3
                span.icon-brush
              .media-body
                h3.heading AIGA Design Director
          .col-md-4.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.p-3.py-4.d-block.text-center
              .icon.mb-3
                span.icon-person
              .media-body
                h3.heading AWC President
          .col-md-4.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.p-3.py-4.d-block.text-center
              .icon.mb-3
                span.icon-pencil
              .media-body
                h3.heading Girls Who Code Tutor
          .col-md-4.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.p-3.py-4.d-block.text-center
              .icon.mb-3
                span.icon-person
              .media-body
                h3.heading Tennis
          .col-md-4.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.p-3.py-4.d-block.text-center
              .icon.mb-3
                span.icon-music
              .media-body
                h3.heading Veena
          .col-md-4.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.p-3.py-4.d-block.text-center
              .icon.mb-3
                span.icon-person
              .media-body
                h3.heading RTC Fellow
          .col-md-4.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.p-3.py-4.d-block.text-center
              .icon.mb-3
                span.icon-school
              .media-body
                h3.heading Technica Campus Ambassador Director
          .col-md-4.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.p-3.py-4.d-block.text-center
              .icon.mb-3
                span.icon-circle
              .media-body
                h3.heading Alpha Phi Omega, Service Fraternity


    // loader
    #ftco-loader.show.fullscreen
      svg.circular(width='48px' height='48px')
        circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
        circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')
script(src='js/jquery.min.js')
script(src='js/jquery-migrate-3.0.1.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.easing.1.3.js')
script(src='js/jquery.waypoints.min.js')
script(src='js/jquery.stellar.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/aos.js')
script(src='js/jquery.animateNumber.min.js')
script(src='js/scrollax.min.js')
script(src='js/bootstrap-datepicker.js')
script(src='js/jquery.timepicker.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
script(src='js/google-map.js')
script(src='js/main.js')